extends layout

mixin versionTile(appName, version, oss)
  a(href=('/app/'+appName+'/'+version+'/detail')) #{version} #{oss}

mixin iOSDownloadButton(appName, version, enabled)
  if enabled
    a.btn.btn-info.btn-block.ios-download-button(id='ios-download-button-'+version, href="#")
      span.glyphicon.glyphicon-download.pull-left
      span.download-text Download
    script(type="text/javascript").
      function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for(var i=0; i<ca.length; i++) {
          var c = ca[i].trim();
          if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
        }
        return "";
      }
      var dlUrl = 'https://' + location.hostname + (location.port? (':' + location.port): "") + '/app/' + '#{appName}' + '/#{version}/download/ios/' + getCookie("#{appName}");
      var href = 'itms-services://?action=download-manifest&url=' + dlUrl
      $("a[id='ios-download-button-#{version}']").attr('href', href);

  else
    a.btn.btn-info.btn-block.disabled.ios-download-button
      span.glyphicon.glyphicon-download.pull-left
      span.download-text Download


mixin androidDownloadButton(appName, version, enabled)
  if enabled
    a.btn.btn-success.btn-block.android-download-button(href='/app/'+appName+'/'+version+'/download/android')
      span.glyphicon.glyphicon-download.pull-left
      span.download-text Download
  else
    a.btn.btn-success.btn-block.disabled.android-download-button
      span.glyphicon.glyphicon-download.pull-left
      span.download-text Download


mixin versionLine(appName, version, os)
  if (ios && android)
    .row
      .col-xs-6
        h3= version
      .col-xs-3
        +iOSDownloadButton(appName, version, os.ios)
      .col-xs-3
        +androidDownloadButton(appName, version, os.android)
  else
    .row
      .col-xs-9
        h3= version
      .col-xs-3
        if ios
          +iOSDownloadButton(appName, version, os.ios)
        else
          +androidDownloadButton(appName, version, os.android)

mixin header()
  .row
    if (ios && android)
      .col-xs-6
        h4#app-detail-app-list-version-header Version
      .col-xs-3(style="text-align:center")
        h3#app-detail-app-list-ios-header
          img(src='/img/apple.png')
          span iOS
      .col-xs-3(style="text-align:center")
        h3#app-detail-app-list-android-header
          img(src='/img/android.png')
          span Android

    else
      .col-xs-9
        h4#app-detail-app-list-version-header Version
      .col-xs-3(style="text-align:center")
        if ios
          h3#app-detail-app-list-ios-header
            img(src='/img/apple.png')
            span iOS
        else
          h3#app-detail-app-list-android-header
            img(src='/img/android.png')
            span Android

block content
  - var ios = false;
  - var android = false;
  - for (key in versions)
    - var os = versions[key];
    - if (os.ios)
      - ios = true;
    - if (os.android)
      - android = true

  #app-detail-jumbotron.jumbotron
    img#app-detail-image.pull-right(src='/res/img/logo/'+app, alt="")
    h1 #{app}

  .container-fluid
    +header()

    each os, version in versions
      +versionLine(app, version, os)
