extends layout

mixin versionTile(appName, version, oss)
  a(href=('/app/'+appName+'/'+version+'/detail')) #{version} #{oss}

mixin iOSDownloadButton(appName, version, enabled)
  if enabled
    a.btn.btn-info.btn-block.ios-download-button(id='ios-download-button-'+version, href="#")
      span.glyphicon.glyphicon-download
    script(type="text/javascript").
      function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for(var i=0; i<ca.length; i++) {
          var c = ca[i].trim();
          if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
        }
        return "";
      }
      var dlUrl = 'https://' + location.hostname + (location.port? (':' + location.port): "") + '/app/' + '#{appName}' + '/#{version}/download/ios/' + getCookie("#{appName}");
      var href = 'itms-services://?action=download-manifest&url=' + encodeURI(dlUrl)
      $("a[id='ios-download-button-#{version}']").attr('href', encodeURI(href));
  else
    a.btn.btn-info.btn-block.disabled.ios-download-button
      span.glyphicon.glyphicon-download


mixin androidDownloadButton(appName, version, enabled)
  if enabled
    a.btn.btn-success.btn-block.android-download-button(href='/app/'+appName+'/'+version+'/download/android')
      span.glyphicon.glyphicon-download
  else
    a.btn.btn-success.btn-block.disabled.android-download-button
      span.glyphicon.glyphicon-download



mixin removeAndroidVersionButton(appName, version, enabled)
  if enabled
    a.btn.btn-default.btn-block.remove-button(href='#', data-version=version, data-name=appName, data-os="android")
      span.glyphicon.glyphicon-trash
  else
    a.btn.btn-default.btn-block.disabled.remove-button
      span.glyphicon.glyphicon-trash


mixin removeiOSVersionButton(appName, version, enabled)
  if enabled
    a.btn.btn-default.btn-block.remove-button(href='#', data-version=version, data-name=appName, data-os="ios")
      span.glyphicon.glyphicon-trash
  else
    a.btn.btn-default.btn-block.disabled.remove-button
      span.glyphicon.glyphicon-trash


mixin iOSActions(appName, version, enabled)
  if !authenticateAsAdministrator
    +iOSDownloadButton(appName, version, enabled)
  else
    .row
      .col-sm-6
        +iOSDownloadButton(appName, version, enabled)
      .col-sm-6
        +removeiOSVersionButton(appName, version, enabled)

mixin androidActions(appName, version, enabled)
  if !authenticateAsAdministrator
    +androidDownloadButton(appName, version, enabled)
  else
    .row
      .col-sm-6
        +androidDownloadButton(appName, version, enabled)
      .col-sm-6
        +removeAndroidVersionButton(appName, version, enabled)

mixin versionLine(appName, version, os)
  .row.app-detail-version-row
    if (ios && android)
      .col-md-8.col-xs-4
        h3= version
      .col-md-2.col-xs-4
        +iOSActions(appName, version, os.ios)
      .col-md-2.col-xs-4
        +androidActions(appName, version, os.android)
    else
      .col-xs-8.col-md-10
        h3= version
      .col-xs-4.col-md-2
        if ios
          +iOSActions(appName, version, os.ios)
        else
          +androidActions(appName, version, os.android)

mixin header()
  .row
    if (ios && android)
      .col-md-8.col-xs-4
        h4#app-detail-app-list-version-header Version
      .col-md-2.col-xs-4(style="text-align:center")
        h3#app-detail-app-list-ios-header
          img(src='/img/apple.png')
          //- span iOS
      .col-md-2.col-xs-4(style="text-align:center")
        h3#app-detail-app-list-android-header
          img(src='/img/android.png')
          //- span Android

    else
      .col-xs-8.col-md-10
        h4#app-detail-app-list-version-header Version
      .col-xs-4.col-md-2(style="text-align:center")
        if ios
          h3#app-detail-app-list-ios-header
            img(src='/img/apple.png')
            //- span iOS
        else
          h3#app-detail-app-list-android-header
            img(src='/img/android.png')
            //- span Android

block navbarcontent
  if authenticateAsAdministrator
    ul.nav.navbar-nav
      li: a(data-toggle="modal" data-target="#upload-version-modal") 
        span.glyphicon.glyphicon-upload
        |  Upload an app
      li: a(data-toggle="modal" data-target="#delete-app-modal") 
        span.glyphicon.glyphicon-trash
        |  Delete project
        


block content
  - var ios = false;
  - var android = false;
  - for (key in versions)
    - var os = versions[key];
    - if (os.ios)
      - ios = true;
    - if (os.android)
      - android = true

  #app-detail-jumbotron.jumbotron
    img#app-detail-image.pull-right(src='/res/img/logo/'+app, alt="")
    h1 #{app}

  .container-fluid
    +header()

    each os, version in versions
      +versionLine(app, version, os)



  #delete-app-modal.modal.fade(role="dialog")
    .modal-dialog: .modal-content
        .modal-body
          h4 Are you sure ?
        .modal-footer
          button.btn.btn-sm.btn-default(data-dismiss="modal") Cancel
          button.btn.btn-sm.btn-danger() Delete project

  include upload-modal.jade

  script(type="text/javascript").
    $(".remove-button").on('click', function() {
      var appname = $(this).data("name");
      var version = $(this).data("version");
      var os = $(this).data("os");

      loadAndWait(function(onFinish) {
        $.post("/app/" + appname + "/" + version + "/remove/" + os, function(data, textStatus) {
            location.reload();
        });
      });
    });


